* {
  margin: 0;
  padding: 0;
}

body {
  user-select: none;
}

nav {
  background-color: #fff;
  max-height: 8vh;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  justify-content: space-between;
  align-items: center;
  display: flex;
}

nav img {
  width: 20vh;
  height: auto;
  
}

.nav-list {
  list-style: none;
  display: flex;
  gap: 15px;
  align-items: center;
  padding-right: 15px;
}

.nav-list a {
  font-family: "Crimson Text", serif;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
  color: #000;
  font-size: 13px;
}

.nav-list a:hover {
  border-bottom: 1px solid black;
}

.mobile-menu {
  display: none;
  cursor: pointer;
}

.mobile-menu div {
  width: 32px;
  height: 2px;
  background: #000000;
  margin: 8px;
  transition: 0.3s;
  z-index: 1001;
}

main {
  padding-top: 6vh;
}

.container1 {
  height: 80vh;
  background-color: #2b2b2b;
  justify-content: space-between;
  display: flex;
}

.container1 img {
  width: 50%;
}

.container1 h1 {
  display: flex;
  align-items: center;
  padding-right: 8%;
  color: #fff;
  font-family: "Crimson Text", serif;
  font-weight: 700;
  font-style: italic;
  font-size: 80px;
}

.container2 {
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.842);
  width: 40%;
  height: auto;
  border-radius: 10%;
  margin-top: 15vh;
  margin-left: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
}

.container2 img {
  width: 40vh;
  margin-top: 20px;
  border-radius: 100%;
}

.container2 span {
  text-align: center;
  padding: 20px;
  padding-top: 0px;
  margin-bottom: 20px;
}

.carousel-container {
  top: 8vh;
  position: relative;
  width: 100%;
  margin: auto;
  overflow: hidden;
}

.carousel-slide {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.carousel-item {
  text-align: center;
  flex: 0 0 calc(100% / 3); /* Cada item ocupará 1/3 do carrossel */
  box-sizing: border-box;
  padding: 100px;
}

.carousel-item img {
  width: 100%;
  display: block;
}

.carousel-item p {
  margin-top: 10px;
  font-size: 16px;
  color: #333;
}

button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(255, 255, 255, 0);
  color: rgb(0, 0, 0);
  font-size: x-large;
  border: none;
  padding: 0;
  cursor: pointer;
  z-index: 10;
}

#prevBtn {
  left: 35px;
}

#nextBtn {
  right: 35px;
}

footer {
  top: 25vh;
  position: relative;
  bottom: 0px;
  width: 100%;
  background: #2b2b2b;
}

.container3 {
  display: flex;
}

.container3 .box {
  flex-basis: 50%;
  padding: 10px 20px;
}

.box h2 {
  padding-bottom: 5px;
  border-bottom: solid 2px white;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
}

.box span {
  color: #dfdfdf;
}

.content {
  padding-top: 10px;
}

.bottom .center {
  padding: 5px;
  font-size: 15px;
  background: #000000;
  text-align: center;
}
.bottom .center span {
  color: #656565;
}
.bottom .center a {
  color: #ffffff;
  text-decoration: none;
}
.bottom .center a:hover {
  text-decoration: underline;
}

#map {
  height: 200px;

}

.whatsapp-link {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 40px;
  background-color: #25d366;
  color: #fff;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  box-shadow: 1px 1px 2px #888;
  z-index: 1001;
}

.fa-whatsapp {
  margin-top: 16px;
  z-index: 1001;
}

svg {
  margin-top: 10px;
}

*::-webkit-scrollbar {
  width: 0;
  background: #ffffff;
}

@media only screen and (max-width: 768px) {
  .nav-list {
    position: absolute;
    top: 8vh;
    width: 100%;
    height: 92vh;
    background: #ffffff;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transform: translateY(-110%);
    transition: transform 0.3s ease-in;
    z-index: 1002;
  }
  .nav-list li {
    margin-left: 0;
    opacity: 0;
  }
  .mobile-menu {
    display: block;
  }

  .nav-list.active {
    transform: translateX(0);
  }

  @keyframes navLinkFade {
    from {
      opacity: 0;
      transform: translateY(50px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .mobile-menu.active .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
  }

  .mobile-menu.active .line2 {
    opacity: 0;
  }

  .mobile-menu.active .line3 {
    transform: rotate(45deg) translate(-5px, -7px);
  }

  .container1 {
    flex-direction: column;
    max-height: 75vh;
    text-align: center;
  }

  .container1 img {
    width: 100%;
    height: auto;
  }

  .container1 h1 {
    position: relative;
    font-size: 40px;
    padding-right: 0;
    text-align: center;
    padding-bottom: 10vh;
    justify-content: center;
  }

  .container2 {
    width: 90%;
    height: auto;
    margin-top: 10vh;
    margin-left: 5%;
    border-radius: 5%;
  }

  .container2 img {
    width: 30vh;
  }

  .container2 span {
    padding: 10px;
  }

  .carousel-container {
    width: 100%;
  }

  .carousel-item {
    flex: 0 0 100%;
    padding: 50px;
  }

  footer .container3 {
    flex-direction: column;
    align-items: center;
  }

  footer .box {
    width: 100%; /* Ajusta a largura de cada box para 100% */
    padding: 20px;
    text-align: center;
    box-sizing: border-box; /* Para garantir que o padding seja incluído no tamanho total da box */
  }

  .bottom .center {
    padding: 10px;
    font-size: 12px;
  }
}
